@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  color: #ffffff;
  background-color: #282b30;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
}

h1 {
  color: #ffffff;
  font-family: "M PLUS Rounded 1c", Ariel, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  font-style: normal;
}

h3 {
  color: #ffffff;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  font-style: normal;
}

.box {
  background-color: #1e2124;
  border: 2px solid black;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  color: white;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: #1e2124;
  border: 2px solid black;
  padding: 10px;
  width: 60%;
  max-width: 300px;
  color: white;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.code {
   font-family: "Courier New", monospace;
   background-color: #1e2124; /* dark background */
   border: 1px solid #333; /* subtle border */
   padding: 4px 8px; /* padding around text */
   border-radius: 4px; /* rounded edges */
   box-shadow: inset 0 1px 3px rgba(0,0,0,0.2); /* inner shadow for depth */
   display: inline-block; /* fits around text */
   overflow-wrap: break-word;
   white-space: normal;
   word-break: break-word;
   font-size: 14px; /* optional */
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

/* unvisited link */
a:link {
  color: #7289da;
}

/* visited link */
a:visited {
  color: #5865F2;
}

/* mouse over link */
a:hover {
  color: #666fff;
}

/* selected link */
a:active {
  color: #5865F2;
}

p:hover, br:hover {
  background-color: #36393e;
}
